<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Войти в аккаунт</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
{% include 'car/nav.html' %}
<div class="container mt-5">
    <div class="bg-light p-5">
        <div class="alert alert-success" role="alert">
            Новое сообщение отправлено на почту
        </div>
        <h1 class="login-heading">Вход на сайт</h1>
        <p class="login-para">Используйте следующую форму для входа на сайт:</p>
        <p class="alert">Новое сообщение с кодом было отправлено вам на почту</p>
        <div class="login-form">
            <form class="form" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" type="email" name="email" autofocus autocapitalize="none"
                           maxlength="150" required id="id_username" placeholder="Электронная почта">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="code" autofocus autocapitalize="none"
                           maxlength="150" required id="id_code" placeholder="Код">
                </div>

                <button type="submit" class="btn btn-primary">Активировать</button>

                <div class="mt-2">
                    <small>Еще нет аккаунта? <a href="{% url 'worker:register' %}">Зарегистрироваться</a></small>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>