<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Просмотр машин</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
{% include 'car/nav.html' %}

<div class="bg-light py-5">
    <div class="container py-5 text-center">
        <h1>База хранения машин для рентинга</h1>
        <p class="my-4">Удобный интерфейс, стабильная работа,<br>готовое решение для бизнеса</p>
        <a class="btn btn-primary btn-sm" href="{% url 'worker:login' %}">Начать работу</a><br>
    </div>
</div>
</body>
</html>